.statistics {
  min-width: 320px;

  border: 90px solid rgba(231, 233, 239, 0.885);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  color: grey;
}
.statList {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;

  mix-blend-mode: difference;
  color: white;
  text-shadow: rgb(10, 10, 10) 1px 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.percentage {
  margin-top: 8px;
  font-size: px;
}
